/*.alert {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    text-align: justify;
    background-image: webkit-radial-gradient(center,ellipse cover,#ce826d 10%,#b16953 60%);
    


}*/
/*
.closebtn {
    display: block;
    color: inherit;

}*/
/*
    color: inherit;
    margin-right: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
*/
/*
.closebtn:hover {
    color: black;
}*/