#header-bar {
	text-align: center;
	float: none;
	color: white;
}

li {
	display: inline-block;
}


body {
	background-size: 200px;
	background: url(../Images/grey-with-noise.png);
}

p {
	color: white;
}

.navbar {
	margin: 20px;
}

#content {
	margin:20px;
	border: solid #a04833;
	border-width: 1.5px;
	padding: 10px;
}