#header-bar {
	text-align: center;
	float: none;
	color: white;
}

li {
	display: inline-block;
}


body {
	background-size: 200px;
	background: url(../Images/grey-with-noise.png);
}

p {
	color: white;
}
