#header-bar {
	text-align: center;
	float: none;
	color: white;
}

li {
	display: inline-block;
}


body {
	background-size: 200px;
	background: url(../Images/grey-with-noise.png);
}

p {
	color: white;
}

.navbar {
	margin: 20px;
	font-weight: lighter;
}

#content {
	margin:20px;
	border-width: 1.5px;
	padding: 10px;
}

.table {
	color: white;
	margin: auto;
	font-size: 20px;
}

.wd {
	font-family: wingdings;
	font-weight: lighter;
}

.wd2 {
	font-family: "Wingdings 2";
	font-weight: lighter;
}

.wd3 {
	font-family: "Wingdings 3";
	font-weight: lighter;
}

th {
	font-weight: lighter;
}

td {line-height: 20px; font-size: 20px;}

td:hover {
	font-size: 40px;
	transition:;
}

#content {
	background: url(../Images/rust.png);
	margin: 0px 70px 20px 70px;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}